.video__subtitle{
    font-size: 14px;
    line-height: 15px;
    margin-top: 12px;
    margin: 0;
}

@media (max-width: 768px){
    
}
@media (max-width: 375px){
   
}
@media (max-width: 320px){
    
}