.text{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
    
}

@media (max-width: 768px){
    
}
@media (max-width: 375px){
    
}
@media (max-width: 320px){
    
}