.page__lead{
    margin: auto;
    margin-top: 60px;
}

@media (max-width: 768px){
    
}
@media (max-width: 375px){
    .page__lead{
        
        margin-top: 47px;
    }
    
}
@media (max-width: 320px){
    
}