.cover__title{
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    padding-top: 278px;
    margin-bottom: 0;
}

@media (max-width: 1024px){
    .cover__title{
        width: 550px;
        margin: auto;
        padding-top: 218px;
    }
}
@media (max-width: 768px){
    .cover__title{
        padding-top: 177px;
    }
}
@media (max-width: 570px){
    .cover__title{
        font-size: 2rem;
        line-height: 2.1875rem;
        width: 255px;
        padding-top: 100px;
    }
}
@media (max-width: 320px){
    .cover__title{
        width: 250px;
        padding-top: 68px;
    }
}